@model IEnumerable<Books.ViewModel.BookViewModel>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/_BaseLayout.cshtml";
}

<div id="container">
    <div role="main">
        <div id="bookLayer"></div>

        <div id="BooksLayer">
            <table class="BooksTable table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="text-center lead">#</th>
                        <th class="text-center lead">Book Name</th>
                        <th class="text-center lead">Authors</th>
                        <th class="text-center lead">Operations</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var book in Model)
                    {
                        <tr>
                            <th>
                                @book.BookId
                            </th>
                            <td>
                                @book.BookName
                            </td>
                            <td>
                                @foreach (var author in book.Authors)
                                {
                                    <a id="aEditAuthor" class="btn btn-link" href="#" data-authorid="@author.AuthorId">@author.AuthorName</a>
                                    if (author != book.Authors.Last())
                                    {
                                        @:,
                                    }
                                }
                            </td>
                            <td>
                                <button id="btnEditBook" class="btn btn-primary btn-sm" data-bookid="@book.BookId" title="Click the button to edit the book" type="button">
                                    <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;&nbsp;Edit
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="authorLayer"></div>

        <p class="btn-group">
            <button class="btn btn-primary" id="btnCreateBook">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;Add book
            </button>
            <button class="btn btn-primary" id="btnCreateAuthor">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;Add author
            </button>
        </p>
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function () {
            initializeBooks();
        });
</script>
