<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/bundles/Content")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/bundles/jquery")"></script>
    <script src="@Url.Content("~/bundles/bootstrap")"></script>
    <script src="@Url.Content("~/bundles/knockout")"></script>
    <script src="@Url.Content("~/bundles/Scripts")"></script>
    
    <script type="text/javascript">
        var webAPIGetAuthorPath = '@(ViewBag.webApiGetAuthorPath)';
        var webAPICreateAuthorPath = '@(ViewBag.webApiCreateAuthorPath)';
        var webAPIEditAuthorPath = '@(ViewBag.webApiEditAuthorPath)';
    </script>
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            // Initializes the "Global" layer
            var Books = Books || new BooksNS.books();
            Books.initializeGlobal();
        });
    </script>
</body>
</html>
