<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" />
    <title>@ViewBag.Title</title>
    @using System.Web.Optimization

    @Styles.Render("~/bundles/Content")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/Scripts")
    
    <script type="text/javascript">
        var webAPIGetAuthorPath = '@(ViewBag.webApiGetAuthorPath)';
        var webAPICreateAuthorPath = '@(ViewBag.webApiCreateAuthorPath)';
        var webAPIEditAuthorPath = '@(ViewBag.webApiEditAuthorPath)';
    </script>
</head>
<body>
    <div class="navbar navbar-default">
        <div class="navbar-header">
            @Html.ActionLink("Books", "Index", "Book", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Book list", "Index", "Book", new { area = "" })</li>
                <li>@Html.ActionLink("Users", "Index", "Account")</li>
                <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Books</p>
        </footer>
    </div>
</body>
</html>
